<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="nl.privacybarometer.privacyvandaag"
          android:installLocation="auto">

    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- ModPrivacyVandaag: By removing the backup facility, this permission is still needed (only) for update process
        As of api 19 (android 4.4 kitkat) apps get their own storage folder, so the general permission is no longer needed -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <permission
    android:name="nl.privacybarometer.privacyvandaag.provider.WRITE_PERMISSION"
    android:protectionLevel="signature"/>

<application
    android:name="nl.privacybarometer.privacyvandaag.MainApplication"
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:theme="@style/Theme.Light">
    <service android:name="nl.privacybarometer.privacyvandaag.service.RefreshService"/>
    <service android:name="nl.privacybarometer.privacyvandaag.service.FetcherService"/>

    <provider
        android:name="nl.privacybarometer.privacyvandaag.provider.FeedDataContentProvider"
        android:authorities="nl.privacybarometer.privacyvandaag.provider.FeedData"
        android:exported="true"
        android:writePermission="nl.privacybarometer.privacyvandaag.provider.WRITE_PERMISSION"/>
    <!-- ModPrivacyVandaag:
       bovenstaande was niet automatisch refractored, dus handmatig gedaan.
       Origineel was: android:writePermission="net.etuldan.sparss.provider.WRITE_PERMISSION"/>
    -->


        <activity
            android:name="nl.privacybarometer.privacyvandaag.activity.HomeActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    <activity
            android:name="nl.privacybarometer.privacyvandaag.activity.AboutActivity"
            android:label="@string/about_this_app"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="privacy_vandaag_about_activity_intent"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="nl.privacybarometer.privacyvandaag.activity.EditFeedsListActivity"
            android:label="@string/feeds"
            android:launchMode="singleTask"/>
        <activity
            android:name="nl.privacybarometer.privacyvandaag.activity.EntryActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="vnd.android.cursor.item/vnd.privacyvandaag.entry"/>
            </intent-filter>
        </activity>
        <activity
            android:name="nl.privacybarometer.privacyvandaag.activity.GeneralPrefsActivity"
            android:label="@string/menu_settings"
            android:launchMode="singleTask"/>
        <receiver android:name="nl.privacybarometer.privacyvandaag.receiver.BootCompletedBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
    <receiver android:name="nl.privacybarometer.privacyvandaag.receiver.ConnectionChangeReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>
        <receiver android:name="nl.privacybarometer.privacyvandaag.service.RefreshService$RefreshAlarmReceiver"/>
    </application>

</manifest>