<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="nl.privacybarometer.privacyvandaag"
          xmlns:tools="http://schemas.android.com/tools"
          android:installLocation="auto">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- By removing the backup facility, this permission is still needed (only) for update process
        As of api 19 (android 4.4 kitkat) apps get their own storage folder, so the general permission is no longer needed.
	 This is only needed when distributing outside Gplay store -->
    <!-- Also needed for debugging tool to write to log file. -->
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
         android:maxSdkVersion="18" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <!-- permissions for automatic background refresh settings -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <permission
    android:name="nl.privacybarometer.privacyvandaag.provider.WRITE_PERMISSION"
    android:protectionLevel="signature"/>


    <!-- Application -->
    <application
        android:name="nl.privacybarometer.privacyvandaag.MainApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Light" >
        <service android:name="nl.privacybarometer.privacyvandaag.service.AlarmManagerRefreshService"/>
        <service android:name="nl.privacybarometer.privacyvandaag.service.FetcherService"/>

        <!-- Database -->
        <provider
            android:name="nl.privacybarometer.privacyvandaag.provider.FeedDataContentProvider"
            android:authorities="nl.privacybarometer.privacyvandaag.provider.FeedData"
            android:exported="true"
            android:writePermission="nl.privacybarometer.privacyvandaag.provider.WRITE_PERMISSION"/>

        <!-- Activities -->
        <activity
            android:name="nl.privacybarometer.privacyvandaag.activity.HomeActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="nl.privacybarometer.privacyvandaag.activity.AboutActivity"
            android:label="@string/about_this_app_title"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="privacyVandaag_about_activity_intent"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="nl.privacybarometer.privacyvandaag.activity.EditFeedsListActivity"
            android:label="@string/feeds"
            android:launchMode="singleTask"/>
        <activity
            android:name="nl.privacybarometer.privacyvandaag.activity.EntryActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="vnd.android.cursor.item/vnd.privacyvandaag.entry"/>
            </intent-filter>
        </activity>
        <activity
            android:name="nl.privacybarometer.privacyvandaag.activity.GeneralPrefsActivity"
            android:label="@string/menu_settings"
            android:launchMode="singleTask"/>


        <!-- Automatic background refresh settings -->
            <service
                android:name="nl.privacybarometer.privacyvandaag.service.JobSchedulerRefreshService"
                android:permission="android.permission.BIND_JOB_SERVICE" >
            </service>
            <!-- Needed for refresh settings. Used by AlarmManager as well as JobScheduler -->
            <receiver android:name="nl.privacybarometer.privacyvandaag.receiver.BootCompletedBroadcastReceiver">
                <intent-filter>
                    <action android:name="android.intent.action.BOOT_COMPLETED"/>
                </intent-filter>
            </receiver>
            <!-- Needed for refresh settings. Used by AlarmManager. Not needed for SDK's >= 21 -->
            <receiver android:name="nl.privacybarometer.privacyvandaag.receiver.ConnectionChangeReceiver">
                <intent-filter>
                    <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
                </intent-filter>
            </receiver>
            <receiver android:name="nl.privacybarometer.privacyvandaag.service.AlarmManagerRefreshService$RefreshAlarmReceiver" />


    </application>

</manifest>